body {
    background: linear-gradient(#da144e, #4a104b);
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-attachment: fixed;
}
img {
    border-radius: 1rem;
    max-width: 90vw;
    margin: 1rem;
}